div,input,textarea {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0px;
}

.mainpage {
  background-color: whitesmoke;
  width: 60%;
  height: 800px;
  float: left;
  padding: 10px;
}

.createPost {
  background-color: blue;
  float: right;
  cursor: pointer
}

.bestpage {
  background-color: whitesmoke;
  width: 20%;
  height: 350px;
  float: left;
  padding: 10px;
}

.boardbox {
  background-color: white;
}