div,input,textarea {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0px;
}

.mainpage {
  background-color: whitesmoke;
  width: 60%;
  height: 1200px;
  float: left;
  padding: 10px;
}

.createBoard {
  background-color: blue;
  float: right;
  cursor: pointer
}

.bestpage {
  background-color: whitesmoke;
  width: 20%;
  height: 350px;
  float: left;
  padding: 10px;
}

.boardbox {
  background-color: white;
}

.boardlist {
  border: 1px solid black;
  border-radius: 3px;
  margin: '10px';
  padding: '10px'
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button,
.pagination span {
  margin: 0 5px;
}

.pagination button.active {
  background-color: #007BFF;
  color: white;
}

.pagination button[disabled] {
  background-color: #ccc;
}

.pagination .ellipsis {
  color: #999;
}